* {
	color: white;
	padding: 0;
	margin: 0;
}
.tareas {
	margin: auto;
	width: 700px;
	min-height: 500px;
	background-color: black;
}
.tareas h1 {
	margin: auto;
	text-align: center;
	padding: 10px;
}
/* Estilos para el contenedor del formulario */
.form-container {
	text-align: center;
	margin: 20px;
}

/* Estilos para el campo de entrada de texto */
.input-field {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	width: 200px;
	color: black;
}

/* Estilos para el botón */
.submit-button {
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	background-color: #ffffff;
	color: rgb(0, 0, 0);
	font-size: 16px;
	cursor: pointer;
}

/* Cambiar estilo del botón al pasar el mouse por encima */
.submit-button:hover {
	background-color: #0056b3;
}

.grid-main {
	display: grid;
	grid-template-columns: 30% 1fr;
	padding: 10px;
	gap: 10px;
}
.total-tasks {
	background-color: gray;

	height: 500px;
}
.tasks {
	background-color: rgb(52, 52, 52);

	height: 500px;
}
.task-card {
	display: flex;
	justify-content: space-between;
	margin: 10px;
	padding: 10px;
}
.task-card p {
	background-color: darkgrey;
	cursor: pointer;
	padding: 5px;
	margin: 10px;
	font-size: 17px;
	font-size: 20px;
}
.dflex input {
	margin: 10px;
}
.dflex {
	display: flex;
}
.textDash {
	font-size: 40px;
}
